@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('glacialindifference-regular-webfont.woff2') format('woff2'),
         url('glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-weight: bold;
}

p {
  line-height: 1.6;
}

body {
  /* blue background: */
  /* background-color: #75bce8; */
  /* gray background: */
  background-color: #b3b3b3;
  margin: 0px;
  padding: 0px;
}

.img-fluid {
  max-width: 90%;
  height: auto;
  float: right;
  margin: 15px;
  border-radius: 10px;
}

.title {
  text-align: center;
}

.box-heading {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
}

#projects {
  padding-left: 15px;
}

#cv {
  /* border-style: solid;
  border-width: thin;
  border-radius: 4px;
  border-color: #005cb7; */
}

#contact-bar {
  /* gray background: */
  /* background-color: #b3b3b3; */
  /* blue background: */
  background-color: #75bce8;
  align-content: center;
}

img#banner {
  width: 100%;
  height: auto;
}

img#email {
  width: 30%;
  max-width: 65px;
  height: auto;
}

img#github {
  width: 30%;
  max-width: 65px;
  height: auto;
}

img#linkedin {
  width: 30%;
  max-width: 65px;
  height: auto;
}
img#linkedin:hover {
tex
}

#bio {

}

#footer {

}
