h1 {
  font-weight: bold;
}

p {
  line-height: 1.6;
}

body {
  /* blue background: */
  /* background-color: #75bce8; */
  /* gray background: */
  background-color: #b3b3b3;
  margin: 0px;
  padding: 0px;
}

.img-fluid {
  max-width: 90%;
  height: auto;
  float: right;
  margin: 15px;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-family: "Bitter", sans-serif;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-family: "Bitter", sans-serif;
}

.box-heading {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
  font-family: "Raleway", sans-serif;

}

#projects {
  padding-left: 15px;
}

#cv {

}

#contact-bar {
  /* gray background: */
  /* background-color: #b3b3b3; */
  /* light blue background: */
  /* background-color: #75bce8; */
  /* dark blue backgorund */
  background-color: #5d9bd4;
  align-content: center;
}

img#banner {
  width: 100%;
  height: auto;
}

img#email {
  width: 13%;
  max-width: 35px;
  height: auto;
}

img#github {
  width: 13%;
  max-width: 35px;
  height: auto;
}

img#linkedin {
  width: 13%;
  max-width: 35px;
  height: auto;
}
img#linkedin:hover {
tex
}

#bio {

}

#footer {

}
